<!--Страница-->
<!doctype html>
<html>
    <!--Голова страницы-->
    <head>
        <!--Титул страницы -->
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="base.css"/>
        <title>
            title
        </title>
        <!--Стили страницы-->
        

    </head>
    <!--Тело страницы-->
    <body>
        <!--Меню пользователя-->
        <div id="header">
            <ul>
                <li>Вход</li>
                <li>Выход</li>
                <li>User</li>
            </ul>
        </div>
        

        <div class="menu">
            <ul>
                <li>Отзывы</li>
                <li>Создать товар</li>
                <li>Рассылка</li>
                <li>Маркетплейсы</li>
                <li>Оценки</li>
            </ul>
        </div>

        <div id="main">
            <p>body</p>
        </div>


        <div id="footer">
            <p>footer</p>
        </div>

    </body>
</html>