{% load static %}
<html>
    <head>
        <title>
            {% block title %}base{% endblock %}
        </title>
        <nav class="top-menu">
            <a class="navbar-logo" href=""><img src=""></a>
            <ul class="menu-main">
              <li><a href="">Work</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Story</a></li>
              <li><a href="">Shop</a></li>
              <li><a href="">Gallery</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </nav>
    </head>
    <body>
        
    </body>
</html>